@charset "UTF-8";
/* CSS Document created by Justin Powers, March 18, 2019 */

body {
	font-family: Helvetica, sans-serif, times, Arial;
	font-size: 15px;
	line-height: 1.9em;
	color: #0A4C0A;
	background-color: #C2FFA4;
	padding: 20px 50px;
} 

/* basic text styles ----------------------------  */
p, li, td {
	letter-spacing: 0.1em;
	font-style: normal;
	color: #000000;
}
h1 {
	font-size: 40px;
	padding: 10px 0;
	font-variant: small-caps;
	letter-spacing: 0.5em;
	line-height: 1em;
}
h2 {
	font-size: 25px;
	padding: 20px;
	font-variant: small-caps;
	letter-spacing: 0.5em;
	background-color: #AE9217;
}
h3 {
	font-size: 35px;
	letter-spacing: 0.4em;
	border-bottom-width: 6px;
	border-bottom-style: groove;
	border-bottom-color: #AE9217;
	padding: 1px 0px 25px;
	font-variant: small-caps;
	font-style: italic;
}

/* link styles ---------------------------- */
a:link {
	font-weight: bold;
	color: #0A4C0A;
	text-decoration: underline;
}
a:visited {
	font-weight: bold;
	color: #0A4C0A;
	text-decoration: none;
}
a:hover {
	color: #AE9217;
}

/* list styles ----------------------------- */
ul li {
	list-style-image: url(images/star.png);
	margin-left: 20px;
}
ol {
	margin-left: 20px;
}

/* table styles -------------------------------------- */
table {
	border: dotted #0A4C0A 5px;
}
td {
	padding: 8px;
	text-align: center;
	border: solid #AE9217 2px;
}
th {
	font-weight: bold;
	background-color: #AE9217;
	text-align: center;
	padding: 11px;
	border: solid #AE9217 2px;
}

/* border styles ------------------------------------ */
hr {
	border: solid #AE9217 2px;

}

img {
	border: solid #AE9217 10px;
	padding: 5px;
}

iframe {
	border: solid #AE9217 5px;
	padding: 10px;
	margin: 20px 350px;
}
